# Ignore node_modules directory
node_modules/

# Ignore environment-specific files
.env
.env.*

# Ignore log files
logs/

# Ignore build output
dist/

# Ignore editor-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# test files
test.js

